Source: vyatta-op-qos
Section: contrib/net
Priority: extra
Maintainer: Stephen Hemminger <stephen.hemminger@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-op-qos
Architecture: all
Depends: bash (>= 3.1),
 vyatta-op, vyatta-iproute
Suggests: util-linux (>= 2.13-5),
 ethtool
Description: Vyatta operational commands for QOS
 Vyatta operational commands for Quality of Service.
